{%  extends 'account/base.html' %}

{% block content %}

{%  include 'account/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>MEMBERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Member</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Member</th>
					<th>Phone</th>
				</tr>

				{% for member in memberss %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'member' member.id %}">View</a></td>
						<td>{{member.name}}</td>
						<td>{{member.phone}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 Likes</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Liked</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for like in likes %}
					<tr>
						<td>{{like.product}}</td>
						<td>{{like.date_created}}</td>
						<td>{{like.status}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_like' like.id %}">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_like' like.id %}">Delete</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>

{% endblock %}